<div class="row">
    <div class="login">
        <img ng-hide="hideLogo" src="../../../../../client/assets/images/logo_flood_fill.gif" />
        <div class="panel panel-default" ng-hide="!hideLogo">
            <div class="panel-heading text-center">SIGN IN</div>
            <div class="panel-body">
                <form class="form-horizontal" role="form" novalidate>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input type="text" class="form-control" ng-model="userName" id="inputUserName" placeholder="User Name" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input type="password" class="form-control" ng-model="password" id="inputPassword" placeholder="Password" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <button type="submit" class="btn btn-primary btn-md" ng-click=login()>Sign in</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 text-center">
                            <span class="text-danger" ng-hide="valid">{{errorMessage}}</span>
                            <label></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 text-center">
                            <label>Don't have an account with FloodFill?</label>
                            <a ui-sref="signup">Signup here</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
