<div class="bgimg-1">
    <div class="caption">
        <span class="border">MEENU</span>
    </div>
</div>

<div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
    <h3 style="text-align:center;">Naughty meenu</h3>
    <p>she is a yoga child shows lots of steps alone. No one teach her that. She will dance when a DJ is played on TV. Sing lullaby for her barbie. Share her food with her baby doll.</p>
</div>

<div class="bgimg-2">
    <div class="caption">
        <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">SMILING</span>
    </div>
</div>

<div style="position:relative;">
    <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
        <p>All my tears will disslove in her smile.</p>
    </div>
</div>

<div class="bgimg-3">
    <div class="caption">
        <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">CRY</span>
    </div>
</div>

<div style="position:relative;">
    <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
        <p>She only cries for love.</p>
    </div>
</div>

<div class="bgimg-1">
    <div class="caption">
        <span class="border">MY SWEETY!</span>
    </div>
</div>
