<section class='col-xs-12 col-sm-6 col-md-6 meenukkutty-photo-back'>
    <div class="menu-bar">
        <ul>
            <li>
                <a ui-sref="home" class="link-btn">Home</a>
            </li>
            <li>
                <a ui-sref="about" class="link-btn">About</a>
            </li>
            <li>
                <a ui-sref="gallery" class="link-btn">Gallery</a>
            </li>
            <li>
                <a ui-sref="blog" class="link-btn">Blog</a>
            </li>
        </ul>
    </div>
</section>
